@model DersofMufViewModel

<div class="row">



    <div class="col-md-8 col-lg-9">
        <div>
            <h3>Müfredat Bilgileri</h3>
        </div>
        <strong class="m-3"> Üniversitemizde müfredat adı @Model.Mufredatvm.MufredatAdi olan müfredata ait dersler aşağıda listelenmiştir </strong>
        <br />
        <hr />

        @if (Model.MufredatinDerslerivm.Count == 0)
        {
            <br />

            <h3 class="alert-danger m-5"> Henüz Müfredata Kayıtlı Herhangi Bir Ders yoktur ! </h3>

            <br />
        }
        else
        {
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th>Ders Kodu</th>
                            <th>Ders Adı</th>
                            <th>Ders Durumu</th>
                            <th>Ders Kredisi</th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.MufredatinDerslerivm)
                        {
                            <tr>
                                <td>
                                    <span>@item.Ders.DersKodu</span>
                                </td>
                                <td>
                                    <span>@item.Ders.DersAdi</span>
                                </td>
                                <td>
                                    <span>@item.Ders.Durum</span>
                                </td>
                                <td>
                                    <span>@item.Ders.Kredi</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

    </div>
</div>
<div class="m-4">
    <a class="btn btn-outline-primary" asp-controller="Admin" asp-action="AddDersToMuf" asp-route-id="@Model.Id">Yeni Ders Ekle</a>
</div>

<a class="btn btn-outline-dark" asp-controller="Admin" asp-action="IndexMufredat"> Müfredat İşlemlerine Geri Dön</a>
